BloodyPepper/Library/metadata/
BloodyPepper/Temp/
BloodyPepper/Library/UnityAssemblies/
BloodyPepper/Library/ShaderCache/
BloodyPepper/Library/
BloodyPepper/.vs/BloodyPepper/v15/.suo
BloodyPepper/BloodyPepper.userprefs
BloodyPepper/BloodyPepper.csproj
BloodyPepper/BloodyPepper.Editor.csproj
BloodyPepper/Assets/Libraries.meta
